/* Variables */

@contDivBC: #eee;
/* Mixins */

.hovDiv() {
    &:hover {
        -webkit-filter: brightness(50%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: white;
        background: rgba(255, 255, 255, 0.5);
    }
}

.bg(@bgImg) {
    background: url(@bgImg);
    background-size: cover;
    background-repeat: round;
}

.widthHeight(@w, @h){
    height:@h;
    width:@w;
}
/* content */

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-size: 40px;
        font-family: 'Poiret One', cursive;
    }
    a {
        font-weight: bolder;
        text-decoration: none;
    }
}

body {
    color: black;
    text-align: center;
    #header {
        background: #eee;
        display: flex;
        flex-flow: column;
        position: sticky;
        .widthHeight(100%,100px);
        top: 0;
        z-index:1;
        h1 {
            a {
                font-size: 55px;
                color: black;
                font-family: 'Poiret One', cursive;
            }
            padding-bottom: 10px;
        }
        nav a {
            display: inline-block;
            .widthHeight(30%,25px);
            color: black;
            vertical-align: text-center;
            &:hover {
                background-color: rgb(223, 223, 223);
            }
        }
    }
    #bio {
        width: 65%;
        padding: 3% 17.5%;
        img {
            height: 50%;
            width: 30%;
        }
        .Languages {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            width: 50%;
            padding-left: 25%;
            a {
                color: white;
                border: solid white;
                padding: 10px 20px;
            }
        }
        p {
            margin: auto;
            font-size: 20px;
        }
    }
    #projects {
        h1 {
            color: white;
            padding-bottom: 15px;
        }
        padding: 2%;
        background-image: linear-gradient(to top right, black, purple);
        text-emphasis: wrap;
        #navGrid {
            .widthHeight(90%,100%);
            margin-left: 5%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            a {
                font-size: 5vw;
                background-color: rgba(250, 250, 250, 0.4);
                .hovDiv;
                .widthHeight(3.5em,3.5em);
                justify-self: center;
                line-height: 20vw;
                overflow: hidden;
                color: white;
            }
            #proj3 {
                .bg("imgs/github.JPG");
                color: black;
            }
            #proj4 {
                .bg("imgs/clock.JPG");
            }
            #proj5 {
                .bg("imgs/gradius.JPG");
            }
            #proj7 {
                color: black;
                .bg("imgs/pokedex.JPG");
            }
            #proj8 {
                .bg("imgs/atropos.JPG");
            }
            #proj9 {
                color: black;
                .bg("imgs/kings.JPG");
            }
            #proj10 {
                color: black;
                .bg("imgs/chatroom.JPG");
            }
            #proj11 {
                .bg("imgs/crest1-modified.png");
            }
            #proj12 {
                color: black;
                .bg("imgs/scouts.jpg");
            }
        }
    }
    .education{
        background-color: rgb(135, 145, 173);
        .widthHeight(100%,100%);
        padding:5% 0;
        
        .school{
            background-color: #fff;
            padding:10%;
            width:60vw;
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 8fr 3fr;
            grid-template-areas: 
                ". edu locDate"
                ". text text"
                ". text text"
                ". text text";
                .logo{
                    grid-area:logo;
                    display:none;
                }
                .eduTitle{
                    grid-area:edu;
                }
                .dateLoc{
                    grid-area:locDate;
                }
                p{
                    grid-area:text;
                    margin-top:20px;
                }
            margin:5vh;
            margin-left:10%;
            @media only screen and (min-width:900px) {
                padding:5%;
                margin-left:15%;
                grid-template-areas: 
                "logo edu locDate"
                ". text text"
                ". text text"
                ". text text";
                .logo{
                    display:inline;
                }
            }
        }
        
    }
    #contact {
        height: 10vh;
        img {
            &:hover {
                box-shadow: 1px 2px rgba(0, 0, 0, 0.6);
                border-radius: 38px;
            }
        }
    }
}