* {
  text-align: center;
  margin: 0;
}
.section {
  width: 100vw;
  height: 98vh;
}
.section h2 h1 {
  padding-top: 45vh;
  font-size: 50px;
}
#all {
  background: no-repeat url("imgs/Cover.jpg");
  background-size: 100%;
}
#wind {
  background-image: url("http://pluspng.com/img-png/windy-png-hd-breeze-breezy-gust-of-wind-light-breeze-summer-weather-windy-512.png");
  background-size: 400px;
  background-color: #5bcf5b;
}
#temp {
  background: url("https://www.pngrepo.com/download/150268/thermometer.png");
  background-size: 200px;
  background-repeat: space 200px 200px;
  background-color: lightblue;
}
#light {
  background: url("https://png.icons8.com/color/160/pixar-lamp-2.png") space 50px 50px;
  background-size: 250px;
  background-color: #d4a970;
}
